/* :root {
    --screen-width: screen.width;
  }   */

html,
body {
  height: 100%;
  background-color: white;
  padding: 0;
}

.grid {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    position: relative;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
    text-align: center;
}

#car {
    height: 40px;
    width: 70;
    top: 50px;
    left: 2.5px;
    position: relative;
    z-index: 4;
}

.majorRoute {
    height: 7px;
    position: relative;
    color: black;
    border-style: solid;
    border-width: 0px 0px 15px 0px;
    border-bottom-style: dashed;
    top: 6px;
    opacity: 0.9;
}

.minorRoute {
    height: 30px;
    width: 16px;
    background-color: black;
    color: black;
    margin-left: 39px;
    position: absolute;
    margin-top: 20px;
    z-index: 2;
    opacity: 0.9;
    border: none !important;
}

.destination {
    height: 20px;
    width: 20px;
    margin-top: 60px;
    margin-left: 25px;
    z-index: 1;
    position: relative;
}

.participant {
    height: 20px;
    width: 20px;
    z-index: 1;
    top: 63px;
    left: 12.5px;
    position: relative;
}

.locTag {
    position: relative;
    font-size: smaller;
    z-index: 3;
    color: rgb(212, 37, 212);
}

.timer {
    position: absolute;
    background-color: black;
    z-index: 1;
    height: 70px;
    text-align: center;
    color: white;
    width: 211px;
}

.timerText {
    display: grid;
    margin: auto;
    padding-top: 8px;
}

