/* :root {
    --screen-width: screen.width;  
  }   */

html,
body {
  height: 100%;
  background-color: white;
  padding: 0;
}

.grid {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    position: relative;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
    text-align: center;
}

#car {   
    height: 35px;
    width: 65px;
    top: 50px;
    left: 2.5px;
    position: relative;
    z-index: 3;
}

#dash {
    position: relative;
    z-index: 2;
    height: 26px;
    width: 138px;
}

.majorRoute {
    /* background-color: black; */
    width: 2029%;
    height: 7px;
    position: relative;
    color: black;
    border-style: solid;
    border-width: 0px 0px 15px 0px;
    border-bottom-style: dashed;
    top: 6px;
}

/* .carTrail {
    top: 25px;
    position: relative;
    z-index: 2;
    border-color: black;
    height: 10px;
    width: 10px;
    border-width: 0;
} */

.destination {
    height: 20px;
    width: 20px;
    margin-top: 60px;
    margin-left: 25px;
    z-index: 1;
    position: relative;
}

.locTag {
    font-size: smaller;
}

.timer {
    position: absolute;
    background-color: black;
    z-index: 1;
    height: 70px;
    text-align: center;
    color: white;
    width: 211px;
}

.timerText {
    display: grid;
    margin: auto;
    padding-top: 8px;
}

